.head{
  width: 100%;
  height: 60px;
  background: #37a;
  transition: width 2s
}
.headMain{
  width: 1140px;
  height: 60px;
  margin: auto;
}
.headMain ul li{
  margin-right: 30px;
  float: left;
  line-height: 60px;
}
