html, body, ul{
  margin: 0;
  padding: 0;
}
ul{
  list-style-type: none;
}
a{
  text-decoration: none;
  color: rgb(33, 34, 74);
}
a:hover{
  text-decoration: underline;
}
.app{
  margin: 0;
  padding: 0;
}
